*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffff;
  font-weight: 400;
  padding: 20px 10px;
}
h2{
  font-style: italic;
}

